@font-face {
  font-family: "onePiece";
  src: local("animeace"),
    url("./fonts/animeace.ttf") format("truetype");
}
@font-face {
  font-family: "onePieceB";
  src: local("animeace_b"),
    url("./fonts/animeace_b.ttf") format("truetype");
}
@font-face {
  font-family: "onePieceI";
  src: local("animeace_i"),
    url("./fonts/animeace_i.ttf") format("truetype");
}

* {
  font-family: "onePiece";
}